
{% if programmers %}
    {% for programmer in programmers %}
        <tr>
            <td align="center">
                {{ programmer.name }}
            </td>

            <td>
                 <input type="submit" class="button" value="{{ pair.days }}"/>
            </td>

            {% if pairs %}
                {% for pair in pairs %}
                    {% ifequal pair.programmer_1 programmer.id %}

                    {% endifequal %}
                {% endfor %}
            {% endif %}
        </tr>
    {% endfor %}
{% else %}
    <p>{% trans "We have no programmers, So login as admin, and add some programmers" %}</p>
{% endif %}
